[Desktop Entry]
Name=Elrond Price
Comment=Shows current price of Elrond on the market.

Icon=elrond
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=cplaiasu
X-KDE-PluginInfo-Email=cplaiasu@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.elrondprice

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,50
